html {
    color-scheme: dark;
}

#calculator {
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 360px;
    height: 550px;
    border: 2px solid rgba(255, 68, 0, 0.507);
}
#calculator textarea {
    grid-column: span 4;
    font-size: 4rem;
    resize: none;
    height: 150px;
}
#calculator button {
    padding: 10px 15px;
    background-color: rgb(49, 49, 49);
    font-size: 1.3rem;
}

#calculator button:active {
    color: rgb(194, 59, 10);
}

#calculator .digit {
    font-size: 1.6rem;
}
